* html body {
    margin: 0;
    overflow: hidden;
}

html, body {
    height: 100%;
    overflow: hidden;
}

html {
    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

#container {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px;
    opacity: 0.8;
}

#content {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px;
    font-size: 48px;
    background-color: #c1cff2;
    top: 0;
    left: 0;
}

    #content:after {
        content: "";
        display: block;
    }

    #footer, #content::after {
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
    }

#footer {
    font-size: 24px;
}

.text {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px;
    color: #4969b7;
}
