* html body {
    margin: 0;
    overflow: hidden;
}

html, body {
    height: 100%;
        overflow: hidden;
}

html {
    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

#container {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px;
    opacity: 0.8;
}

#content {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px;
    font-size: 48px;
    color: #888;
    background-color: #EEE;
    top: 0;
    left: 0;
}

    #content:after {
        content: "";
        display: block;
    }

    #footer, #content::after {
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
    }

#footer {
    font-size: 24px;
}

.text {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px;
    color: #888;
}


/* instagram styles */

.ig-b- {
    display: inline-block;
}

    .ig-b- img {
        visibility: hidden;
    }

    .ig-b-:hover {
        background-position: 0 -60px;
    }

    .ig-b-:active {
        background-position: 0 -120px;
    }

.ig-b-32 {
    width: 32px;
    height: 32px;
    background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-32 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png);
        background-size: 60px 178px;
    }
}
