html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

html {
  background-image: linear-gradient(to top right, #333, #bbb);
}

#container {
  position: absolute;
  height: 500px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: black solid 2px;
  background-color: whitesmoke;
}

#content {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  color: #888;
  text-align: center;
}
#content h1 {
  padding: 0px;
  margin: 0px;
}

#footer {
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 24px;
}
#footer span {
  padding: 10px;
}

.text {
  font-family: Tahoma, Geneva, sans-serif;
  padding: 5px;
  color: #888;
}
